:root {
    --dark-mode-bg: #0e131a;
    --dark-mode-fg-1: #0c121b;
    --dark-mode-fg-2: #0a182e;
    --dark-mode-text-1: #ffe6dc;
}

* {
    /* Find a better way */
    color: var(--dark-mode-text-1);
}

body {
    background-color: var(--dark-mode-bg);
}