#dashboard {
    margin-left: 230px; /*20vw*/
}

/*TODO: Create some default view*/

.main-view {
    display: none;
}

.main-view:target {
    display: block;
}

.collection {
    margin: 30px 0;
}

.flex-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 40px; /*3vw*/
    border: 1px solid darkred;
    padding: 5px;
}

.recipe {
    cursor: pointer;
    margin: 25px 0;
    min-height: 200px;
    height: 40vh;
    max-height: 250px;
    min-width: 200px;
    width: 20vw;
    max-width: 250px;
    padding: 10px;
    border: 1px solid grey;
}

.temp-image {
    background-color: green;
    height: 70%;
    width: 100%;
}

/*Scale down*/
@media screen and (max-width: 1000px) {

    #dashboard {
        margin-left: 20vw;
    }
}

/*Minimum*/
@media screen and (max-width: 600px) {

    #dashboard {
        margin-left: 120px;
    }
}