#dashboard {
    margin-left: 230px; /*20vw*/
}

/*TODO: Create some default view*/

.main-view {
    display: none;
}

.main-view:target {
    display: block;
}

/*Scale down*/
@media screen and (max-width: 1000px) {

    #dashboard {
        margin-left: 20vw;
    }
}

/*Minimum*/
@media screen and (max-width: 600px) {

    #dashboard {
        margin-left: 120px;
    }
}