* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*DELETE THIS*/
}

.side-nav {
    background-color: var(--dark-mode-fg-2);
    border: 3px solid darkcyan;
    width: 200px;
    position: fixed;
}

.side-nav li {
    list-style: none;
    padding: 10px;
    border-top: 1px solid grey;
}

.side-nav li:first-child {
    border-top: none;
}

.side-nav a {
    text-decoration: none;
    font-size: 16px;
}

.side-nav a:focus {
    color: red;
}