* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-nav {
    background-color: var(--dark-mode-fg-2);
    border: 3px solid darkcyan;
    min-width: 100px;
    width: 15vw;
    max-width: 200px;
    position: fixed;
}

.side-nav li {
    list-style: none;
    padding: 5%;
    border-top: 1px solid grey;
}

.side-nav li:first-child {
    border-top: none;
}

.side-nav a {
    text-decoration: none;
}

.side-nav a:focus {
    color: red;
}