* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-nav {
    background-color: var(--dark-mode-fg-1);
    padding: 5px;
    padding-right: 20px;
    border: 1px solid red;
    height: 30px;
}

.header-nav ul {
    display: flex;
    gap: 20px;
    justify-content: right;
}

.side-nav {
    background-color: var(--dark-mode-fg-2);
    border: 3px solid darkcyan;
    min-width: 100px;
    width: 15vw;
    max-width: 200px;
    position: fixed;
}

nav li {
    list-style: none;
}

.side-nav li {
    padding: 5%;
    border-top: 1px solid grey;
}

.side-nav li:first-child {
    border-top: none;
}

nav a {
    text-decoration: none;
}

.side-nav a:focus {
    color: red;
}